*{
    font-family:'Montserrat', sans-serif;
}




.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(0, 188, 209);*/
}

.logo{
    display:flex;
    align-items: center;
}

.logo img{
    width: 300px;
}

.subNav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
    /*background-color: blanchedalmond;*/
}

.subNav .links{
    justify-content: space-evenly;
}

.subNav .links a{
    text-decoration: none;
    margin-right: 15px;
    color:rgb(126, 119, 119);
   
}


.subNav .icons{
    justify-content: space-evenly;
}
.subNav .icons img{
    margin-left: 10px;
    width:20px;
    height: 20px;
}

.main{
    display: flex;
    align-items: center;
    /*margin: 10px;*/
    /*background-color: deeppink;*/
}

.main .heroImg img{
    width: 600px;
    /*margin-right: 800px;*/
}

.heroTxt{
    width: 40%;
   margin-bottom: 70px;
    /*background-color:pink;*/
    
}

.heroTxt p{
    width:130%;
    gap: 40%;
}



.mini p{
    color: #f2ac1c;
}

.main .button{
    background-color: #f2ac1c;
    padding: 10px 40px;
    border: none;
    color:white;
    border-radius: 5px;
    display: flex;
    align-items: end;
}

.footer h1{
    font-weight: normal;
}


.footer .cards p{
    width:300px;
}

.footer .cards{
    display:flex;
    justify-content: space-evenly;
    gap:90px;
    /*padding: 10px;*/
    
}

 .footer .cards .cd {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cards .cd h2{
    color: #f2ac1c;
}


.cards .button{
    background-color: #f2ac1c;
    padding:10px 40px;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: end;
}





